<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amadon.horoscopo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"> <!--Ocultando la action Bar-->
        <activity
            android:name="com.amadon.horoscopo.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amadon.horoscopo.PantallaResultados"
            android:label="@string/title_activity_pantalla_resultados" >
        </activity>
    </application>

</manifest>
